<head>
  <title>Simple Messenger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <base href="/">
</head>
 
<body>
	<div class="container" ng-app="simplemessenger" ng-controller="MessengerCtrl" id='MessageContainer'>
		<div id='headercontainer'>	
			<h1 id='messengerheader'>Simple Messenger</h1>
	    </div>
	    <div class='col-xs-6 col-md-4' id='cardcontainer'>
		    <div id='MessageCard' ng-repeat="message in messages">
		    	<p id='textcont'>{{message.text}}</p>
		    </div>
		</div>
		<form class="message-entry" ng-submit="addMessage(newMessage); newMessage='';">
      		<input ng-model="newMessage" type="text" name="message" placeholder="Enter Message Here." autocomplete= "off" />
    	</form>
	</div>
</body>